AZURE_OPENAI_DEPLOYMENT_NAME=gpt-5.2
AZURE_OPENAI_API_KEY=<your api key>
# TODO: figure out why it MUST end with /openai/v1
# Probably, if we're passing this in base_url, then should end with /openai/v1
# Else, if we're passing in azure_endpoint, then should be without that
AZURE_OPENAI_ENDPOINT=https://<your azure openai resource>.openai.azure.com/openai/v1